*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #2C3E50;
    padding: 30px 0;
}

.body {
    width: 1920px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    width: 193px;
    margin-right: 117px;
    vertical-align: middle;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: white;
}
.menu {
    width: 1170px;
    margin: 0 auto;
}

.navigation{
    display: inline-block;
    width: 756px;
    margin-right: 24px;
}

.navigation ul li{
    list-style: none;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin-right: 51px;
    font-family: 'Lato';
    font-weight: 900;
    position: relative;
}

.navigation ul li::after {
    content: "";
    height: 5px;
    position: absolute;
    background: #1ABC9C;
    width: 100%;
    left: 0;
    top: -54px;
    display: none;
}

.navigation ul li:hover::after{
    display: block;
}

.navigation ul li::before{
    content: "";
    background-image: url(../images/arrow1.png);
    width: 20px;
    height: 20px;
    position: absolute;
    right: -27px;
    background-repeat: no-repeat;
    top: 2px;
    background-position: 0;
}

.navigation ul li:last-child::before {
    display: none;
}

.navigation ul li:hover::before{
    background-image: url(../images/arrow.png);
}


.navigationul li:hover {
    color: #1ABC9C;
}


.navigation ul li:last-child{
    margin-right: 0;
}

.menu-right-icons {
    display: inline-block;
    width: 70px;
    vertical-align: middle;
    margin-top: 5px;
}

.cart{
    background-image: url("../images/Cart.png");
    display: inline-block;
    width: 30px;
    height: 31px;
    background-repeat: no-repeat;
}

.search {
    background-image: url("../images/Search\ Icon.png");
    display: inline-block;
    width: 30px;
    height: 31px;
    background-repeat: no-repeat;
    margin-left: 5px;
}



.main-slider {
    position: relative;
    background: #2C3E50;
    height: 775px
}

.main-slider-content {
    width: 1170px;
    margin: 0 auto;
}

.main-slider-image {
    width: 445px;
    display: inline-block;
    vertical-align: top;
    margin-right: 149px;
}

.main-slider-image img {
    margin-left: -39px;
}

.main-slider-text {
    display: inline-block;
    width: 570px;
    margin-top: 99px;
}

.main-slider-text h3{
    color: white;
    font-size: 36px;
    font-family: 'Lato';
    font-weight: 300;
}

.main-slider-text h1{
    color: white;
    font-size: 89px;
    font-family: 'Lato';
    font-weight: 300;
    margin-bottom: 23px;
    margin-left: -5px;
    display: inline-block;
}

.main-slider-text p{
    color: white;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    line-height: 30px;
}

.iphone span:first-child {
    font-weight: 400;
}

.S {
    display: inline-block;
    width: 63px;
    height: 63px;
    vertical-align: top;
    font-size: 58px;
    font-family: 'Lato';
    margin-top: 25px;
    font-weight: 300;
    text-align: center;
    margin-left: 19px;
    color: white;
    border: 1px solid white;
    line-height: 56px;
    border-radius: 10px;
}

.main-slider-buttons {
    margin-top: 44px;
}

.main-slider-buttons span{
    color: white;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 18px;
    width: 160px;
    display: inline-block;
    text-align: center;
    margin-right: 6px;
    height: 50px;
    line-height: 50px;
}

.main-slider-buttons span:first-child{
    background: #1D2C3B;
}

.main-slider-buttons span:last-child{
    background: #1ABC9C;
}

.main-slider-arrows .arrow-left{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 42%;
    text-align: center;
    left: 60px;
    line-height: 47px;
    border-radius: 5px;
    font-size: 18px;
    transform: translateY(-50%);
    border: 1px solid white;
    color: white;
}

.main-slider-arrows .arrow-right{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 42%;
    text-align: center;
    right: 63px;
    line-height: 47px;
    border-radius: 5px;
    font-size: 18px;
    transform: translateY(-50%);
    border: 1px solid white;
    color: white;
}

 .arrow-right:hover, .arrow-left:hover{
    border: none;
    background: white;
    color: black;
}

.main-slider-controls {
    width: 105px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 27px;
}

.main-slider-controls div {
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 9px;
}

.main-slider-controls div:nth-child(3) {
    border: 1px solid white;
    background: transparent;
    width: 17px;
    height: 16px;
}

.main-slider-controls div:last-child{
    margin-right: 0;
}





.wrapper {
    width: 1177px;
    margin: 0 auto;
}
.clearfix {
    clear:both;
}
.featured-products {
    margin-top:54px;
    background:#ECF0F1;
    padding-bottom: 100px;
}
.featured-header {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    margin-bottom:39px;
}
.featured-header h2 {
    font-family: 'Lato';
    font-weight: 300;
    font-size:36px;
    line-height: 33px;
}
.featured-header h2 span {
    font-weight: 900;
}
.slider-arrows i {
    display: inline-block;
    padding: 5px 9px;
    border: 1px solid #CDD9E1;
    background: #fff;
    color: #A1B1BC;
    font-size: 24px;
    margin: 1px 4px;
    border-radius: 10px;
}
.product-items > div {
    width:270px;
    background:#fff;
    border-radius:14px;
    float:left;
    margin:0px 15px;
}
.product-items > div:first-child {
    margin-left:2px;
}
.product-items > div:last-child {
    margin-right:0px;
}
.product-items > div:hover .prod-info, .product-items > div:hover .prod-info-footer {
    background:#2C3E50;
    cursor:pointer;
}
.product-items > div:hover .prod-info {
    border-bottom:1px solid #405060;
}
.product-items > div:hover .prod-info h3, .product-items > div:hover .prod-info p {
    color:#fff;
}
.product-items .poster {
    height:370px;
}
.product-items a {
    text-decoration: none;
}
.prod-info {
    padding: 12px 19px;
    border:1px solid #E6E6E6;
}
.prod-info h3 {
    color: #2C3E50;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;
}
.stars i {
    font-size: 15px;
    line-height: 32px;
    color: #1ABC9C;
    letter-spacing: -4px;
    margin-top: 1px;
}
.prod-info p {
    color: #2C3E50;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 20px;
    line-height: 33px;
}
.prod-info-footer {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid #E6E6E6;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top:0px;
}
.prod-info-footer .to-cart a, .prod-info-footer .details a {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    display: inline-block;
    color: #FFFFFF;
    padding: 0px 10px 0px 31px;
    border-radius: 4px;
}
.prod-info-footer .to-cart a {
    background:#A1B1BC url("../images/Shape 246.png") no-repeat;
    background-position: 10px;
}
.prod-info-footer .details a {
    background:#A1B1BC url("../images/Shape 247.png") no-repeat;
    background-position: 12px 8px;
}
.product-items> div:hover .to-cart a {
    background:#1ABC9C url("../images/Shape 246.png") no-repeat;
    background-position: 10px;
 }
 .product-items > div:hover .details a {
    border:1px solid #FEFEFE;
    background:#2C3E50 url("../images/Shape 247.png") no-repeat;
    background-position: 12px;
 }


.middle-note {
    margin-top: 101px;
}

.note-main {
    width: 1170px;
    margin: 0 auto;
    padding: 18px 28px;
    border: 1px solid gray;
    border-radius: 11px;
    padding-left: 28px;
}

.note-image {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    margin-right: 35px;
}

.note-text {
    display: inline-block;
    width: 750px;
    vertical-align: top;
    margin-right: 24px;
}

.note-text h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #34495E;
    margin-top: 12px;
    margin-bottom: 9px;
}

.note-text p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    margin-top: -2px;
}

.note-button {
    display: inline-block;
    vertical-align: middle;
}

.note-button span{
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    color: white;
    background: #34495E;
    border-radius: 11px;
    width: 180px;
    font-size: 15px;
    text-align: center;
    height: 61px;
    line-height: 60px;
}


.wrap {
    width: 1170px;
    margin: 0 auto;
}

.middle-big-images {
    margin-top: 46px;
}

.mid-big-image {
    height: 600px;
    background: #CCCCCC;
    position: relative;
    margin-bottom: 12px;
}

.mid-big-image-text {
    position: absolute;
    top: 265px;
    right: 90px;
}

.mid-big-image-text h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    color: #2C3E50;
    font-size: 61px;
    line-height: 24px;
}

.mid-big-image-text h2 span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    color: white;
    position: relative;
    
}

.mid-big-image-text h2 span::before{
    content: "3";
    position: absolute;
    width: 46px;
    height: 62px;
    top: 7px;
    left: -5px;
    border-radius: 10px;
    background: #17D8B2;
    line-height: 62px;
    text-align: center;
}

.mid-big-image-text p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    width: 250px;
    margin-top: 40px;
    margin-left: 4px;
}

.mid-big-image-text p span {
    margin-left: 1.8px;
}

.middle-big-image-button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: white;
    background: #2C3E50;
    display: block;
    margin-top: 22px;
    margin-left: 5px;
    text-align: center;
}


.small-image-top {
    background: #CCCCCC;
    height: 200px;
    position: relative;
}
.mid-small-images {
    display: inline-block;
    width: 383px;
    margin-right: 6.5px;
    vertical-align: top;
}
.mid-small-images:last-child{
    margin-right: 0;
}
.small-image-mid{
    padding: 26px 29px;
    background: #ECF0F1;
}
.small-image-mid h4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #2C3E50;
    margin-bottom: 9px;
}

.small-image-mid p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
}

.small-image-bot {
    height: 50px;
    background: #1ABC9C;
    line-height: 55px;
    color: white;
    font-size: 15px;
    padding-left: 32px;
    font-family: 'Myriad Pro Regular';
}

.mid-small-images:hover .small-image-top{
    background: #1ABC9C;
}
.mid-small-images:hover .small-image-mid{
    background: #2C3E50;
}
.mid-small-images:hover .small-image-mid h4{
    color: white;
}
.mid-small-images:hover .small-image-bot {
    background: #1E2A37;
}

.small-image-top::after{
    display: none;
}

.small-image-top:hover::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("../images/Plus\ icon.png");
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.feat_products {
    margin-top:54px;
    background:#ECF0F1;
    padding-bottom: 100px;
}
.feat_header {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    margin-bottom:39px;
}
.feat_header h2 {
    font-family: 'Lato';
    font-weight: 300;
    font-size:36px;
    line-height: 33px;
}
.feat_header h2 span {
    font-weight: 900;
}
.slider_arrows i {
    display: inline-block;
    padding: 5px 9px;
    border: 1px solid #CDD9E1;
    background: #fff;
    color: #A1B1BC;
    font-size: 24px;
    margin: 1px 4px;
    border-radius: 10px;
}
.prod_items > div {
    width:270px;
    background:#fff;
    border-radius:14px;
    float:left;
    margin:0px 15px;
}
.prod_items > div:first-child {
    margin-left:2px;
}
.prod_items > div:last-child {
    margin-right:0px;
}
.prod_items > div:hover .prod_info, .prod_items > div:hover .prod_info_bottom {
    background:#2C3E50;
    cursor:pointer;
}
.prod_items > div:hover .prod_info {
    border-bottom:1px solid #405060;
}
.prod_items > div:hover .prod_info h3, .prod_items > div:hover .prod_info p {
    color:#fff;
}
.prod_items .poster {
    height:370px;
}
.prod_items a {
    text-decoration: none;
}
.prod_info {
    padding: 12px 20px;
    border:1px solid #E6E6E6;
}
.prod_info h3 {
    color: #2C3E50;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;
}
.stars i {
    font-size: 15px;
    line-height: 32px;
    color: #1ABC9C;
    letter-spacing: -4px;
    margin-top: 1px;
}
.prod_info p {
    color: #2C3E50;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 20px;
    line-height: 33px;
}
.prod_info_bottom {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid #E6E6E6;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top:0px;
}
.prod_info_bottom .to-cart a, .prod_info_bottom .details a {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    display: inline-block;
    color: #FFFFFF;
    padding: 0px 10px 0px 31px;
    border-radius: 4px;
}
.prod_info_bottom .to-cart a {
    background:#A1B1BC url("../images/Shape 246.png") no-repeat;
    background-position: 10px;
}
.prod_info_bottom .details a {
    background:#A1B1BC url("../images/Shape 247.png") no-repeat;
    background-position: 12px 8px;
}
.prod_items > div:hover .to-cart a {
    background:#1ABC9C url("../images/Shape 246.png") no-repeat;
    background-position: 10px;
}
.prod_items > div:hover .details a {
    border:1px solid #FEFEFE;
    background:#2C3E50 url("../images/Shape 247.png") no-repeat;
    background-position: 10px;
    line-height: 26px;
}
.resent-products {
    background:#fff;
    padding-bottom: 70px;   
    width: 1177px;
    margin: 0 auto;
    margin-top: 54px;
}
.resent-products .feat_header {
    padding-top:43px;
    margin-bottom: 43px;
}
.resent-products .prod_items > div:first-child, .resent-products .prod_items > div:nth-child(5){
    margin-left:2px;
}
.resent-products .prod_items > div:nth-child(4), .resent-products .prod_items > div:nth-child(8){
    margin-right:0px;
}
.resent-products .prod_items > div {
    border-radius: 9px;
    margin-bottom: 30px;
}
.resent-products .prod_items .poster {
    height: 368px;
}
.resent-products .poster > div {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
    color:#FFFFFF;
    padding: 9px 19px;
}
.resent-products .poster .resent_featured_product {
    background:#E46960 url('../images/Shape 255.png') no-repeat;
    background-position: 92% 17px;
}
.resent-products .poster .best_seller {
    background:#21C2F8 url('../images/Shape 256.png') no-repeat;
    background-position: 92% 17px;
}
.resent-products .prod_items > div:hover .prod_info_bottom, .resent-products .prod_items > div:hover .prod_items > div {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.resent-products .prod_info p {
    position: relative;
}
.resent-products .prod_info p span {
    font-family: 'Lato';
    font-weight: 900;
    position: absolute;
    display: inline-block;
    padding: 0px 9px;
    top: 0px;
    left: 86px;
    background: #21C2F8;
    line-height: 30px;
    border-radius: 10px;
    color: #fff;   
    z-index:2;
}
.resent-products .prod_info p .plus {
    position: absolute;
    background: #2C3E50;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    left: 161px;
    z-index:1;
    display: none;
}

 .plushover:hover  + .plus {
    display: inline-block !important;
 }

 .plushover:hover  + .plus::after{
display: inline-block;
 }

.prod_info  .plus::after {
    content: '+';
    color: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 24px;
    display: none;
}



.news {
    background:#ECF0F1;
    padding-top:96px;
    padding-bottom:71px;
   
}
.wrap-news{
    width: 1177px;
    margin:  auto;
}
.news h2 {
    font-family: 'Lato';
    font-weight: 300;
    font-size:36px;
    line-height: 33px;
    color:#34495E;
    margin-bottom: 47px;
}
.news h2 span {
    font-family: 'Lato';
    font-weight: 900;
}
.news .news-header {
    display: flex;
    justify-content: space-between;
}
.news .slider-arrows i {
    display: inline-block;
    padding: 5px 9px;
    border: 1px solid #CDD9E1;
    background: #fff;
    color: #A1B1BC;
    font-size: 24px;
    margin: 1px 4px;
    border-radius: 10px;
    cursor: pointer;
}
.news .slider-arrows i:hover {
    background:#2C3E50;
    color:#FFFFFF;
}
.news-items > div:hover .news-content {
    background: #34495E;
}
.news-items > div {
    height:194px;
    float:left;
    width:570px;
    margin:0px 28px 30px 2px;
}
.news-items > div:nth-child(2n){
    margin-right:0px;
}
.news-items > div:hover h3, .news-items > div:hover h4 {
    color:#fff;
}
.news-items > div .hurt {
    background:#686D80 url('../images/hurt.png') no-repeat;
    background-position: center;
}
.news-items > div .img {
    background:#1ABC9C url('../images/image.png') no-repeat;
    background-position: center;
}
.news-items > div:first-child .man {
    background:#3A3E4A url('../images/man.png') no-repeat;
    background-position: center;
}
.news-items > div:nth-child(2) .img {
    background:#17181B url('../images/image.png') no-repeat;
    background-position: center;
}
.news-items > div:nth-child(2) .man {
    background:#7BC200 url('../images/man.png') no-repeat;
    background-position: center;
}
.news-items > div:nth-child(3) .man {
    background:#0787D4 url('../images/man.png') no-repeat;
    background-position: center;
}
.news-items > div:nth-child(4) .man {
    background:#EF584D url('../images/man.png') no-repeat;
    background-position: center;
}
.news-items > div:nth-child(2) .news-content p {
    margin-top: 6px;
}
.news-items > div:nth-child(3) .news-content p {
    margin-top: 7px;
}
.news-items > div:last-child .news-content p {
    margin-top: 7px;
    margin-top: 3px;
}
.news-image {
    width:300px;
    height: 100%;
    background: #CCCCCC;
}
.news-image:hover {
    background: #1ABC9C url('../images/search.png') no-repeat;
    background-position: 129px 82px;
}
.news-image > div {
    width:40px;
    height:41px;
    border-bottom: 1px solid #F5F6F6;
    background-color:#686D80;
}
.news-image .news-date {
    font-family: arial;
    line-height:20px;
    color:#FFFFFF;
    font-size:14px;
    text-align: center;
    padding-top: 11px;
    height:71px;
    border-bottom:none;
}
.news-image .news-date span {
    font-size:18px;
}
.news-content {
    background:#FFFFFF;
    border:1px solid #E7EBED;
    width: 270px;
    padding: 14px 10px 24px 19px;
    position: relative;
    z-index:1;
    height:100%;
}
.news-items > div:hover .news-content:before {
     border-color: transparent #34495E transparent transparent;
}
.news-content:before {
    content:"\A";
    border-style: solid;
    border-width: 8px 9px 7px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -9px;
    top: 20px;
    z-index:2;
}
.news-image, .news-content {
    float:left;
}
.news-content h3 {
    font-family: 'Lato';
    font-weight: 700;
    font-size:18px;
    line-height: 24px;
    color:#2C3E50;
    margin-bottom: 1px;
}
.news-content h4, .news-content p {
    font-family: 'Lato';
    font-weight: 400;
    font-size:15px;
    line-height: 24px;
    color:#2C3E50;
}
.news-content p {
    color:#A1B1BC;
    margin-top: 9px;
}



.second-big-slider {
    height: 675px;
    position: relative;
}

.second-slider-shape {
    position: absolute;
    width: 100%;
    height: 675px;
    background: #2C3E50;
}
.second-big-slider-wrap {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.second-slider-top {
    padding-top: 90px;
    width: 670px;
    margin: 0 auto;
    text-align: center;
}
.second-slider-top h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    color: white;
    font-size: 30px;
    margin-bottom: 7px;
    
}
.second-slider-top h3 span {
    font-family: 'Lato';
    font-weight: 700;
}
.second-slider-top p{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    color: white;
    line-height: 24px;
    margin-left: -3px;
}

.second-big-slider-buttons span{
    font-family: 'Lato';
    font-weight: 900;
    color: white;
    width: 170px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    font-size: 15px;
}
.second-big-slider-buttons span:first-child {
        border: 1px solid white;
    margin-right: 7px;
}

.second-big-slider-buttons span:last-child {
    border: 1px solid white;
    background: #21C2F8;
    margin-left: -1px;
}

.second-big-slider-buttons {
    margin-top: 17px;

}

.second-slider-bottom {
    margin-top: 78px;
    margin-left: -8px;
}

.second-left {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #1A1C27;
    top: 50%;
    left: 190px;
    border-radius: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 50px;
}
.second-left i {
    color: white;
    font-size: 46px;
    margin-left: 1px;
    font-weight: bold;
    margin-top: 3px;
}

.second-right {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #1A1C27;
    top: 50%;
    right: 190px;
    border-radius: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 50px;
}

.second-right i {
    color: white;
    font-size: 47px;
    margin-left: -8px;
    font-weight: bold;
    margin-top: 2px;
}

.second-big-slider-arrows > div:hover{
    border: 1px solid white;
    color:#FFF;
}


.wrap-serv {
    width: 1175px;
    margin: 0 auto;
}

.left-serv , .right-serv {
    display: inline-block;
    width: 570px;
    margin-top: 87px;
    vertical-align: top;
}

.left-serv {
    margin-right: 27px;
}

.services h3 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 36px;
    color: #34495E;
}

.services h3 span {
    font-family: 'Lato';
    font-weight: 900;
}
.service-left {
    display: inline-block;
    width: 508px;
}
.service-right{
    display: inline-block;
    width: 38px;
}
.service-row {
    padding-top: 6px;
    padding-bottom: 11px;
    padding-left: 17px;
    border: 1px solid #E5E5E5;
}

.service-left p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    color: #A1B1BC;
    line-height: 20px;
}
.left-serv-content {
    margin-top: 44px;
}
.service-right span {
    color: #999999;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
    padding-right: 10px;
    position: absolute;
    top: -11px;
    left: 12px;
}

.service-right {
    text-align: center;
    position: relative;
}

.service-right::after{
    position: absolute;
    content: "";
    background: #E5E5E5;
    width: 2px;
    height: 37px;
    left: 0;
    top: -21px;
}

.service-row.image .service-right::after {
    height: 41px;
}

.service-row:hover .service-left p {
    font-family: 'Lato';
    font-weight: 700;
    color: #1ABC9C;
    position: relative;
    left: -2px;
    top: 1px;

}

.service-row-text p{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    color: #A1B1BC;
    line-height: 24px;
}
.service-row-image {
    width: 80px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
} 

.service-row-text {
    display: inline-block;
    width: 410px;
    margin-top: 2px;
}

.service-row-child {
    position: relative;
    margin-top: 36px;
    margin-left: 2px;
}
.service-row-child::after{
    content: "";
    position: absolute;
    background: #E5E5E5;
    width: 570px;
    height: 1px;
    left: -19px;
    top: -21px;
}

.service-row.image {
    margin-bottom: 3px;
    padding-bottom: 15px;
}

.right-service-main-top ul li {
    display: inline-block;
    font-family: 'Lato';
    font-weight: 400;
    color: #A1B1BC;
    text-align: center;
    font-size: 14px;
    position: relative;
}

.right-service-main {
    margin-top: 43px;
    
}
.right-service-main-top {
    border: 1px solid #E5E5E5;
    padding: 10px 0;
}

.right-service-bottom {
    padding-top: 25px;
    padding-left: 20px;
    border: 1px solid #E5E5E5;
    padding-bottom: 18px;
}

.right-service-bottom  p {
    color: #A1B1BC;
}

.right-service-img img {
    display: inline-block;
    margin-right: 21px;
}

.right-service-img p {
    display: inline-block;
    width: 418px;
    vertical-align: top;
    margin-top: 3px;
    line-height: 24px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
}
.right-image-second-p {
    margin-top: 13px;
    line-height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 96%;
        margin-left: -2px;
}

.right-service-main-top ul li:nth-child(1)::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 37px;
    background: #E5E5E5;
    top: -9px;
    right: 1px;
}

.right-service-main-top ul li:nth-child(2)::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 37px;
    background: #E5E5E5;
    top: -9px;
    right: -8px;
}

.right-service-main-top ul li:nth-child(3)::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 37px;
    background: #E5E5E5;
    top: -9px;
    right: 6px;
}

.right-service-main-top ul li.active{
    font-family: 'Lato';
    font-weight: 700;
    color: #1ABC9C;
}

.right-service-main-top ul li.active::after{
    content: "";
    position: absolute;
    height: 3px;
    background: #1ABC9C;
    left: -6px;
    top: -11px;
    width: 146px;
}

.right-service-main-top ul li:hover{
    color: #34495E;
}



.numbers {
    padding-top: 87px;
    padding-bottom: 109px;
    background:#34495E;
    margin-top: 100px;
}
.wrap-nums {
    width:1090px;
    margin:0 auto;
}
.numbers .wrap-nums > div {
    float: left;
    margin-right: 110px;
    text-align: right;
    color:#fff;
} 
.numbers .wrap-nums > div span {
    font-size:18px;
    font-family: 'Lato';
    font-weight: 700;
    line-height: 17px;
}
.numbers .wrap-nums > div:nth-child(3) {
    padding-left: 21px;
    margin-right: 108px;
}
.numbers .wrap-nums > div:nth-child(4){
    margin-right:0px;
}
.numbers .wrap-nums h4 {
    font-size:72px;
    font-family: 'Lato';
    font-weight: 300;
}


.checkboxes {
    padding-top: 94px;
    width: 1178px;
    margin: 0 auto;
}
.checkboxes > div {
    float:left;
    width: 272px;
    margin-right: 28px;
}
.checkboxes > div:nth-child(4) {
    margin-right:0px;
}
.checkboxes > div h3 {
    word-spacing: 0.9px;
    letter-spacing: -0.3px;
    color:#2C3E50;
    line-height: 24px;
    font-size:18px;
    font-family: 'Lato';
    font-weight: 900;
    border-bottom:1px solid #A1B1BC;
    padding-bottom: 10px;
    margin-left: 1px;
}    
.checkboxes > div ul li {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;
    color: #A1B1BC;
    list-style-type: none;
    padding: 9px 0px 0px 24px;
    position:relative;
    background: url('../images/checkbox.png') no-repeat;
    background-position: 2px 21px;
}
.checkboxes > div ul li:last-child:after {
    display: none;
}
.checkboxes > div ul li:after {
    content: '';
    width:100%;
    height:1px;
    background: #ECF0F1;
    color: #ECF0F1;
    position: absolute;
    bottom:-6px;
    left:0;
}

.check-form {
    margin-top: 42px;
    margin-left: 2px;
    width: 99.5%;
    height: 59px;
    border: 1px solid #EAEAEA;
    text-indent: 30px;
    border-radius: 4px;
    font-family: 'Lato';
    font-weight: 400;
    font-size:14px;
    color:#A1B1BC;
    background:#F5F7F8 url('../images/loop.png') no-repeat;
    background-position: 97.9% 16px;
}

.colors{
    width: 1355px;
    height: 366px;

}
.colors .color-container{
    display: flex;
    flex-direction: row;
    margin-top: 100px;

}
.colors .color-container .col-item{
    display: flex;
    flex-direction: column;
    width: 468px;
    height: 360px;
    padding-left: 71px;

}
.colors .color-container .col-item button{
    font-family: 'Lato Black';
    font-size: 15px;
    line-height: 19px;
    color:#FFF;
    width: 170px;
    height: 50px;
    border: 2px solid #FFF;
    margin-top: 25px;
}
.colors .color-container .col-item h3{
    font-family: 'Lato Black';
    font-size: 15px;
    line-height: 19px;
    font-weight: 900;
    color: #FFF;
    margin-top: 76px;
    letter-spacing: 1px;
    word-spacing: 6px;

}
.colors .color-container .col-item p{
    font-family: 'Lato';
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    margin-top: 9px;
    width: 365px;
}

.colors .color-container #color-1{
    background: #4E459A;
}
.colors .color-container #color-2{
    background: #63D8FF;
}
.colors .color-container #color-3{
    background: #E36968;
}
.logos{
    width: 1355px;
    height: 132px;
}
.logos .images{
    margin-left: 95px;
    margin-top: 7px;
}
.logos .images img{
    display: inline-block;
    padding-right: 78px;
}
.promo{
    width: 1355px;
    height: 100px;
    background: #1ABC9C;

}
.promo p{
    font-family: 'Lato Light';
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    color:#FFF;
    padding-top: 37px;
    padding-left: 143px;
}
.about-us{
    width: 1355px;
    height: 710px;
    background: #222533;
}
.about-us .text{
    width: 270px;
    height: 351px;
    margin-left: 71px;
    padding-top: 69px;

}
.about-us p{
    color: #A1B1BC;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 24px;
    padding-top: 13px;

}
.about-us .link{
    margin-top: 37px;
}
.about-us .link a{
    text-decoration: none;
    color:#1ABC9C;
    font-family: 'Lato';
    font-weight: 700;
    line-height: 20px;
    margin-top: 50px;
    font-size: 13px;

}
.footer{
    width: 1355px;
    height: 84px;
    background: #1A1C27;
    color:#A1B1BC;
    font-family: 'Lato';
    font-size: 15px;
    line-height: 19px;
    padding-top: 32px;
    word-spacing: 1px;

}
.footer .copy p{
    padding-left:71px;
}
.footer .copy span{
    color:#1ABC9C;
}
.footer .links{
    margin-right: 93px;
    margin-top: -19px;
}
.footer .links li a{
    text-decoration: none;
    color:#A1B1BC;
    

}
.footer .links li a:hover{

    color:#1ABC9C;
}
.footer .links li{
    display: inline-block;
    float:right;
    padding-right: 28px;
}